.container{
  background-color: beige;
  
  margin:auto;
  padding: 20px 25px;
  width:400px;
  margin-top: 200px;
  height:auto;
  gap: 100px;
  
  
}
body{
  background-color: rgb(219, 225, 223);
  
}
.csschanger{
  display: flex;
  padding: 6px 4px;
  justify-content: space-between;
}
.GenerateB{
  height: 30px;
   width: 400px;;
   background-color:rgb(204, 211, 217) ;
   cursor: pointer;
   
}
.GenerateB:hover{
  background-color: beige;
}
.copyB{
  width: 80px;
  background-color:rgb(210, 215, 219) ;
  cursor: pointer;
}
.copyB:hover{
  background-color: beige;
}
.ps{
  text-align: center;
  padding:6px;
  
  background-color: rgb(147, 192, 191);
}
