.App{
  padding-top: 1px;
  background-color:rgb(184, 202, 202);
   
  

}
body{
background-color:rgb(184, 202, 202) ;
font-family: 'Franklin Gothic Medium', 'Arial Narrow';
}
.PC {
  text-align: center;
  display: flex;
  padding-top: 1px;

}
h1{
  text-align:right;
  margin-left: 500px;
}
/* serch input */
.h1{
  width:auto;
  height: 22px;
}
.h1c{
  width:auto;
  height: 25px;
  padding-top: 34px;
  margin-left:40px;
}
.header{
  
  font-weight: bold;
  background-color: rgba(247, 243, 243, 0.281);
  height: auto;
  
  
  display: flex;

}
.Category{
background-color: rgb(225, 223, 220);
width: 400px;
}

.ul{
  margin-left: 25px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 1200px;
  gap: 300px;

}
.li{
  margin-top: 8px;
  width:300px;
  text-align:start;
  padding:10px;
  
  background-color: rgb(217, 214, 217);
}
.Product{
  padding-top: 4px;;
  background-color: rgb(184, 202, 202);
  flex-wrap: wrap-reverse;
  
}

.s{
  margin-right:90px;
}
.img{
  height: 300px;
  width:auto;
}

.ProI{
  
  width: auto;
  display: flex;
  column-gap: 300px;
  flex-wrap: wrap;
  margin-left: 60px;
  column-gap: 40px;
  row-gap: 25px;
  /* column-gap: 12px; */
  display:flexbox;
  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow';
  

}
.Productitem{
  background-color: rgb(224, 234, 240);
  padding-bottom: 12px;;
  
}
.ct{
  background-color: rgb(48, 104, 153);
}
.product_display{
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 15px;;
  cursor: pointer;
}
/* Search bar */
.Search{
margin-left: 70px;;
padding-top: 34px;

}

.link {
text-decoration: none;
color:black;

}
.itemD{
  height: 400px;
  width: auto;
  background-color: #f2f1f1;
  margin-left:300px;
  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow';
  
}
.itemDC{
  display: flex;
  margin-top: 19px;
}
h2{
 margin-left: 50px; 
  
}
h5{
  margin-left: 70px;
}
#log{
  padding-top: 30px;
  margin-left: 600px;

}
.regD {
  background-color: rgba(255, 255, 255, 0.804);
  padding: 3rem;
  align-content: center;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 600px;
  margin-left:300px;
  
    box-sizing: border-box;
}
.regB{
  background-color: aquamarine;
  /* text-align: center; */
  align-content: center;
  width: 320px;
  height: 28px;
  margin-left: 90px;
}


.formD{
  display: flex;
  justify-items: self-start;
  align-items: center;
}
.form2{
  justify-content: space-between;
}